.quarto-title {
    display: none;
}

$link-color: #9A6EF8;
.link-color {
    color: #9A6EF8;
}

.icon-purple {color: #9A6EF8 !important;}

.callout-note {
    border-left-color: #9A6EF8 !important;
}

.callout-warning {
    border-left-color: #6c757d !important;
}